# fly.toml app configuration file generated for full-stack-open-pokedex-crimson-violet-4961 on 2025-04-24T17:28:14+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#


app = 'full-stack-open-pokedex-crimson-violet-4961'
primary_region = 'mad'



[build]

[processes]
  app = 'node app.js'

[env]
  PORT = '3000'
[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.machine_checks]]
    image = "curlimages/curl"
    entrypoint = ["/bin/sh", "-c"]
    command = ["curl http://[$FLY_TEST_MACHINE_IP]/health | grep 'ok'"]
    kill_signal = "SIGKILL"
    kill_timeout = "5s"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[deploy]
  strategy = "canary"
  max_unavailable = 1