name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install

      - name: check Style
        run: npm run eslint

      - name: Build Frontend
        run: npm run build

      - name: test
        run: npm run test

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Run Playwright Tests
        run: npm run test:e2e

      - name: Setup Fly
        if: ${{ github.event_name == 'push'}}
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to Fly
        if: ${{ github.event_name == 'push'}}
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
  tag_release:
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Bump version and push tag
        if: ${{github.event_name == 'push'}}
        uses: anothrNick/github-tag-action@1.71.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          DEFAULT_BUMP: patch
